Source: cockpit-docker
Section: admin
Priority: optional
Maintainer: Martin Pitt <mendel@chabad360.me>
Build-Depends: debhelper-compat (= 13),
Standards-Version: 4.6.1
Rules-Requires-Root: no
Homepage: https://github.com/chabad360/cockpit-docker
Vcs-Git: https://github.com/chabad360/cockpit-docker.git
Vcs-Browser: https://github.com/chabad360/cockpit-docker

Package: cockpit-docker
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         cockpit-bridge,
         docker (>= 24),
Description: Cockpit component for docker containers
 The Cockpit Web Console enables users to administer GNU/Linux servers using a
 web browser.
 .
 This package adds an user interface for docker containers.
